<h1>Users</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">User List</button>
<div>
    <table class="table-responsive" *ngIf="users?.length>0;else noUser" class="table table-striped">

        <tr *ngFor="let user of users">
            <td><span class="glyphicon glyphicon-envelope icon"></span></td>
            <td><a [routerLink]="['/showUser',user.id]">{{ user.name }}{{ user.age }}</a></td>
        </tr>
    </table>
    <ng-template #noUser><h1 class="text-danger">No user Available</h1></ng-template>
</div>