<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
        text-align: center;
        font-size:3em;
    }

    p {
        color: steelblue;
        text-align: center;
        font-size: 1.5em;
    }
    a {
        font-size:20px;
    }
</style>



<h1>User List</h1>
<!-->p>Users List Of Our Database</p-->
<!-->p>Current count: <strong>{{ currentCount }}</strong></p-->

<button (click)="incrementCounter()"></button>
<div>
    <table class="table-responsive" *ngIf="users?.length>0;else noUser" class="table table-striped">

        <tr *ngFor="let user of users">
            <td><span class="glyphicon glyphicon-envelope icon"></span></td>
            <td><a [routerLink]="['/showUser',user.id]">&nbsp;{{ user.name }}</a></td>
        </tr>
    </table>
    <ng-template #noUser><h1 class="text-danger">No user Available</h1></ng-template>
</div>