<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
        text-align: center;
    }

    h2 {
        color: steelblue;
        text-align: center;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cmnts{
       text-align:left;
       margin-left:70px;
       font-size:1.5em;
       color:midnightblue;
    }

    .text-info {
        text-align:left;
    }
    .sc{
        height:150px;
        width:auto;
        position:absolute;
        top:0;
        left:10px;
        z-index:1;
        
    }
</style>
<div class="well well-lg">
    <h1> Stack Overflow Viewer Application </h1>
    <h2 class="text-muted">Welcome to our single-page application</h2>
    <img class="sc" src="scard.png" alt="Generic placeholder image">

</div>
<div *ngIf="post">

    <div class="media">
        <div class="media-left text-center">
            <img class="mr-3 img-responsive" src="emoj.jpg" alt="Generic placeholder image">
            <div class="text-info"><strong>{{ post.userName }}</strong></div>
            <!-->h1 class="alert-success">{{post.score}}</h1-->
        </div>
        <div class="media-body">
            <h3 class="">{{post.title}}</h3>
            <div class="text-muted">{{post.creationDate | date }}</div>
            <div [innerHtml]="post.body"></div>


        </div>

    </div>

    <div *ngFor="let comments of post['comments']">

<div>
    <div class="media">
        <div class="media-left text-center" id="subcomp">
            <img class="mr-3 img-responsive" src="emoj.jpg" alt="Generic placeholder image">
            <div class="text-info"><strong>User Id:{{ comments.userId}}</strong></div>
            <div class="text-info"><strong>Date:{{ comments.commentDate | date}}</strong></div>
            <div class="text-info"><strong>Comments Score:{{ comments.commentscore}}</strong></div>
        </div>
    </div>


        <div class="media-body">
                  <div class="cmnts" [innerHtml]>{{ comments.commentText }}</div>
        </div>
    </div>
  </div>
</div>




<!--<div *ngIf="comments.users">
    <div *ngFor="let users of comments['users']">
        <div class="text-muted"><strong>{{ users.name}}</strong></div>
    </div>
</div>-->
